* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    
  }
  body {
    background-image: url('89.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    
   
  }
  .container {
    width: 90vw;
    max-width: 800px;
    padding: 2em 1.5em;
    background-color:#694e62;
    margin: 1em auto;
    border-radius: 0.5em;
    color:#090808;
    float:right;
    margin-right: 50px;
  }
  h4 {
    font-size: 1.5em;
  }
  .input-section {
    margin: 0.5em 0;
  }
  label,
  .error-message {
    display: block;
    font-size: 1em;
  }
  label {
    margin-bottom: 0.5em;
    font-weight: 500;
  }
  .error-message {
    margin-top: 0.2em;
  }
  input,
  button {
    display: block;
    outline: none;
    width: 100%;
    padding: 0.5em;
    border-radius: 0.3em;
  }
  input {
    padding: 1em 0.5em;
    border: 1.5px solid #d0d0d0;
  }
  select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
  }
#submit-button {
    font-size: 1em;
    background-color: #2a7518;
    border: none;
    color: #ffffff;
    padding: 0.8em 0;
    margin-top: 2em;
}
#cancel-button {
    font-size: 1em;
    background-color: #942626;
    border: none;
    color: #ffffff;
    padding: 0.8em 0;
    margin-top: 2em;
}
.required-color {
    color: #ff4747;
}
.error {
    border-color: #ff4747;
    
}
.valid {
    border-color: #37a137;
}
.hide {
    display: none;
}
@media only screen and (max-width: 450px) {
    .container {
      font-size: 14px;
    }
}
